html{
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
	margin: 0;
	padding: 0;
 }

a, button{
    transition: .3s ease-in;
    transition-property: color, background-color, opacity;
    svg{
        fill:currentColor;
    }
}
button, .button{
    cursor: pointer;
}

.ba-section-title{
	padding-bottom: 70px;
}

.ba-section{
	padding: 70px 0;
}

