html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a,
button {
  transition: 0.3s ease-in;
  transition-property: color, background-color, opacity;
  svg {
    fill: currentColor;
  }
}
button,
.button {
  outline: none;
  padding: 0 15px;
  min-height: 36px;
  line-height: 36px;
  border-radius: 200px;
  cursor: pointer;

  &:hover,
  &:active {
   // color: lighten($color: $primary-color, $amount: 50);
  }
}

.ba-section-title {
  padding-bottom: 20px;
  padding-left: 20px;
  color: $black;
  @include breakpoint(large) {
    padding-bottom: 70px;
    padding-left: 0;
  }

  &--services {
    font-size: 20px;
    padding-bottom: 30px;
	 padding-top: 30px;
	 
    @include breakpoint(medium) {
      font-size: 93px;
      padding-bottom: 80px;
      line-height: 0.7;
    }

    @include breakpoint(large) {
      padding-top: 0;
    }
  }
}
img {
  max-width: 100%;
  height: auto;
}

.ba-section {
  padding: 20px 0;
  @include breakpoint(large) {
    padding-top: 70px;
  }

  &--services {
    padding-bottom: 30px;
    @include breakpoint(medium) {
      padding-bottom: 70px;
    }
  }
  &--my-profile {
	  padding: 17px 0;
    @include breakpoint(large) {
      padding-top: 83px;
      padding-bottom: 48px;
    }
  }
}
