a, button{
    transition: .3s ease-in;
    transition-property: color, background-color, opacity;
    svg{
        fill:currentColor;
    }
}
button, .button{
    cursor: pointer;
}

.ba-section-title{
	padding: 70px 0;
}