.ba-header {
  background: $primary-color;
  position: relative;

  .ba-logo {
    display: flex;
    align-items: center;
    @include breakpoint(large) {
      display: block;
    }
    padding-top: 12px;
    padding-bottom: 19px;
  }
  .ba-nav {
    font-size: 20px;
    font-weight: 200;
    padding-left: 40px;

    .ba-menu-item {
      padding-bottom: 8px;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid $white;
		}
    }

    li + li {
      margin-left: 21px;
    }
  }

  .ba-my-profile {
    @include breakpoint(medium) {
      margin-left: 25px;
      margin-top: -5px;
    }
  }
}

.ba-menu-toggle {
  top: 12px;
  margin-right: 12px;
  margin-left: 8px;
  &:hover {
    cursor: pointer;
  }
}

.ba-toggle-nav {
  display: none;
}
.ba-toggle-nav.active {
  display: block;
  position: absolute;
  max-width: 147px;
  max-height: 141px;
  top: 10%;
  left: 2%;
  background: $body-background;
  z-index: 13;
  padding: 30px 8px 20px 4px;
  a:hover {
    color: lighten($black, $amount: 70);
  }
  .ba-close-button {
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: -5px;
    padding: 0;
    margin: 0;
    &:hover {
      background-color: transparent;
      color: lighten($black, $amount: 70);
    }
  }
}
