.ba-my-profile-container {
  padding-top: 50px;
  a,
  .ba-button-edit-profile,
  .ba-button-logout,
  .ba-pet-card-edit-button {
    display: inline-block;
    color: $primary-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: 2px transparent;
    margin: 0;
    &:hover,
    &:active {
      color: lighten($color: $primary-color, $amount: 10);
      border: none;
      background: transparent;
    }
  }

  input[type="text"] {
	  max-width: 120px;
    color: $black;
    border: 1px solid grey;
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0 0 5px $black;
  }
  input[type="text"]:read-only {
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
  }
}
.ba-my-profile-info-container__settings {
  display: flex;
  align-items: center;
}

.ba-button-logout {
  @include breakpoint(medium) {
    margin-left: 40px;
  }
  @include breakpoint(large) {
    margin-left: 130px;
  }
}

.ba-my-profile-info-container {
  background-color: $white;


  margin-bottom: 10px;
  @include breakpoint(medium) {
    margin-bottom: 44px;
  }

  &__inner {
    padding: 20px 16px 40px 16px;
    margin-bottom: 25px;
    .ba-info-container-title {
		 input{width: 100%;}
		 
      font-size: 20px;
      margin-bottom: 20px;
    }

    .ba-info-container-desc {
      margin-top: 9px;
      margin-bottom: 20px;
      font-size: 14px;
      padding-left: 12px;
      font-weight: 300;
    }
  }
}

.ba-my-profile-services-info {
  display: flex;
  padding: 0 10px;
  margin-bottom: 0;

  p {
    font-size: 16px;
    font-weight: 500;
  }
}
.ba-my-profile-services-info--small {
  display: flex;
  margin-top: 22px;
  padding-bottom: 26px;
  border-bottom: 1px solid $medium-gray;
}

.ba-buttons-my-profile-small {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.ba-pet-card {
  padding: 0;
  max-height: 150px;
  flex-direction: row;
  @include breakpoint(medium) {
    max-height: 250px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    padding: 20px 25px 0 20px;

    .ba-pet-card__item {
      display: flex;
    }
    .ba-pet-card__item + .ba-pet-card__item {
      margin-top: 20px;
    }
    label {
      font-size: 20px;
      font-weight: 400;
      margin-right: 6px;
      margin-top: 3px;
    }
    .ba-pet-card-edit-button {
      text-align: left;
      margin-top: 15px;
      padding: 0;
    }
  }
  .ba-pet-card + .ba-pet-card {
    @include breakpoint(medium) {
      margin-top: 40px;
    }
  }
  .add-pet-button {
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(medium) {
      justify-content: flex-start;
    }

    span {
      margin-right: 9px;
      &:hover {
        cursor: pointer;
        color: lighten($color: $primary-color, $amount: 10);
      }
      font-weight: 300;
      font-size: 20px;
      color: $primary-color;
    }
  }
}

.ba-pet-card .ba-card-section-right,
.ba-pet-card .ba-card-section-left {
  @media screen and (max-width: 640px) {
    width: 100px;
    height: 100px;
  }

  @include breakpoint(medium) {
    padding: 0;
  }
}
