<header class="ba-header">
	<div class="row align-justify align-middle">
		<div class="column ba-logo small-7 large-3">

			<button class="menu-icon ba-menu-toggle white hide-for-large" type="button" ></button>			
				<nav class="ba-toggle-nav">
					<button class="ba-close-button" type="button" data-close>							
						<span aria-hidden="true">&times;</span>
					</button>			
					 <ul class="menu vertical">
						<li><a href="index.html">Головна</a></li>
						<li><a href="order-service.html">Замовити послугу</a></li>
						<li><a href="reviews.html">Відгуки</a></li>
						<li><a href="gallery.html">Наші фото</a></li>
				  </ul>
				</nav>

			<a href="index.html">
				<img src="{{root}}assets/img/logo.svg" alt="Logo">
			</a>
		</div>
		<div class="column small-2 large-7">
			<div class="row">
				<nav class="ba-nav">
					<ul class="menu simple show-for-large">
						<li class="ba-menu-item"><a href="index.html">Головна</a></li>
						<li class="ba-menu-item"><a href="order-service.html">Замовити послугу</a></li>
						<li class="ba-menu-item"><a href="reviews.html">Відгуки</a></li>
						<li class="ba-menu-item"><a href="gallery.html">Наші фото</a></li>
					</ul>
				</nav>
				<!-- /.ba-nav -->
				<div class="ba-my-profile">
					<a href="my-profile.html">
						<img src="{{root}}assets/img/user.svg" alt="User">
					</a>
				</div>
			</div>
		</div>
		<!-- /.column -->
	</div>
	<!-- /.row -->
</header>