<section class="ba-section-advantages">
	<div class="row ba-section-advantages__content">
		<h2 class="ba-section-title">Наші переваги</h2>
		<div class="column small-12 large-3">
			<div class="ba-column-title">
				<svg width="24" height="20">
					<use xlink:href="#icon-heart" />
				</svg>
				<h3>індивідуальний підхід</h3>
			</div>
			<!-- /.ba-column-title -->
			<div class="ba-column-description">
				Всі наші гості розміщуються з урахуванням їх особливостей і побажань господарів. Ми забезпечуємо догляд,
				враховуючи надану інформацію від господарів про звички, поведінку та характер тварини. Організуємо звичне
				домашнє харчування, вигул собак на обгородженій території в компанії і без.
			</div>
			<!-- /.column-description -->
		</div>
	</div>
</section>
<!-- /.ba-section-advantages -->