<section class="ba-section-settlement-conditions ba-section">
	<div class="row ba-section-settlement-conditions__content">
		<h2 class="ba-section-title">Умови заселення</h2>
		<div class="row">
			<div class="column small-12 large-5 ba-column-description">
					<p>
						В умовах підвищеного попиту послуги під час відпусток влітку, а також у святкові дати, ми рекомендуємо
						бронювати місця заздалегідь.
					</p>
					<p>Перед заселенням, кожен гість проходить обов'язковий огляд у ветеринара. Ми приймаємо в зооготелі
						тварин без інфекційних, паразитних і грибкових захворювань. Вихованці повинні бути щеплені і оброблені
						від ектопаразитів. Перед заселенням, тваринам необхідно зробити вакцинацію з відміткою в ветпаспорт.
					</p>
					<p>Отримати більш детальну консультацію по правилам заселення можна у наших фахівців за телефоном, що
						вказаний нижче, або написавши на нашу електронну пошту.</p>
				<!-- /.column-description -->
			</div>
			<div class="column small-12 large-7">
				<img src="{{root}}assets/img/sleeping-dog.jpg" alt="Sleeping dog">
				<!-- /.column-image -->
			</div>
		</div>
	</div>
</section>
<!-- /.ba-section-advantages -->