<section id="intro" class="ba-section-intro" >
	<div class="ba-main-title-container">
		<h1 class="ba-section-intro__title">Ми потурбуємося про ваших улюбленців</h1>
	</div>
	<!-- /.ba-main-title -->
	<div class="row align-justify">
		<div class="column medium-7 large-4 ba-section-intro__col-left show-for-large">
			<p>Знаючи не з чуток про проблеми, що виникають коли всім членам Вашої родини потрібно відлучитися на деякий
				час, а домашнього вихованця залишити ніде, коли друзі не виявляють особливої радості від майбутнього
				спілкування з твариною, нами був відкритий готель для тварин.</p>
		</div>
		<!-- /.ba-section-intro__col-1 -->
		<div class="column medium-7 large-4 ba-section-intro__col-right show-for-medium">
			<p class="ba-col-2-description">Оберіть Ваше місто та перегляньте список доступних послуг у Вашому регіоні:</p>
			<select class="ba-select-cities">
				<option selected disabled>Оберіть Ваше місто</option>
				<option value="Полтава">Полтава, вул. Кірова, 10</option>
				<option value="Киев">Киев, вул. Бандери, 120</option>
				<option value="Харьков">Харьков, вул. Шухевича, 12</option>
			 </select>
		</div>
		<!-- /.ba-section-intro__col-2 -->
	</div>

	 <div class="ba-select-mobile show-for-small-only">
		 <select class="ba-select-mobile___cities">
	 		<option selected disabled>Оберіть Ваше місто</option>
	 		<option value="Полтава">Полтава, вул. Кірова, 10</option>
	 		<option value="Киев">Киев, вул. Бандери, 120</option>
	 		<option value="Харьков">Харьков, вул. Шухевича, 12</option>
	 	 </select>
	 </div>
	 <!-- /.select-mobile -->
	<div class="ba-section-intro__socials show-for-medium">
		<ul class="menu ba-socials-row">
			<li>
				<a href="https://twitter.com/?lang=ru" target="_blank">
					<svg width="24" height="20">
						<use xlink:href="#icon-twitter" />
					</svg>
				</a>
			</li>
			<li>
				<a href="https://linkedin.com/" target="_blank">
					<svg width="20" height="20">
						<use xlink:href="#icon-linkedin" />
					</svg>
				</a>
			</li>
			<li>
				<a href="https://google.com" target="_blank">
					<svg width="20" height="20">
						<use xlink:href="#icon-google" />
					</svg>
				</a>
			</li>
		</ul>
	</div>
	<!-- /.ba-section-intro__socials -->

</section>
<!-- /.ba-section-intro -->