<section class="ba-section-advantages ba-section">
	<div class="row ba-section-advantages__content">
		<h2 class="ba-section-title">Наші переваги</h2>
		<div class="row">
			<div class="column small-12 large-3 ba-column-advantages">
				<div class="ba-column-title">
					<svg width="20" height="18">
						<use xlink:href="#icon-heart" />
					</svg>
					<h3>індивідуальний підхід</h3>
				</div>
				<!-- /.ba-column-title -->
				<div class="ba-column-description">
					<p>
						Всі наші гості розміщуються з урахуванням їх особливостей і побажань господарів. Ми забезпечуємо догляд,
						враховуючи надану інформацію від господарів про звички, поведінку та характер тварини. Організуємо звичне
						домашнє харчування, вигул собак на обгородженій території в компанії і без.
					</p>
				</div>
				<!-- /.column-description -->
			</div>
			<div class="column small-12 large-3 ba-column-advantages">
				<div class="ba-column-title">
					<svg width="20" height="18">
						<use xlink:href="#icon-heart" />
					</svg>
					<h3>покращене проживання</h3>
				</div>
				<!-- /.ba-column-title -->
				<div class="ba-column-description">
					<p>
						Готель передбачає окреме проживання кожного вихованця. Номери оснащені вентиляцією і системою опалення з
						можливістю регулювання температурного режиму. Регулярно проходить прибирання та кварцування. Собаки і
						кішки міститися в різних корпусах. Для котів передбачені лежанки, драбинки, когтеточки. У псів просторі
						вольєри.
					</p>
				</div>
				<!-- /.column-description -->
			</div>
			<div class="column small-12 large-3 ba-column-advantages">
				<div class="ba-column-title">
					<svg width="20" height="18">
						<use xlink:href="#icon-heart" />
					</svg>
					<h3>контроль ветеринарів</h3>
				</div>
				<!-- /.ba-column-title -->
				<div class="ba-column-description">
					<p>
						Під час перетримки, тварини знаходяться під наглядом кваліфікованих ветеринарів, які щодня проводять
						огляди. При необхідності ветлікар проведе всі необхідні процедури, якщо ваш вихованець знаходиться на
						лікуванні.
					</p>
				</div>
				<!-- /.column-description -->
			</div>
		</div>
	</div>
</section>
<!-- /.ba-section-advantages -->