<section class="ba-section-intro text-center" style="background: url({{root}}assets/img/main-bg.jpg)50%no-repeat;background-size: cover;">
	<h1 class="ba-section-intro__title">Ми потурбуємося про ваших улюбленців</h1>
	<div class="row align-justify">
		<div class="column medium-7 large-4 ba-section-intro__col-1">
			<p>Знаючи не з чуток про проблеми, що виникають коли всім членам Вашої родини потрібно відлучитися на деякий
				час, а домашнього вихованця залишити ніде, коли друзі не виявляють особливої радості від майбутнього
				спілкування з твариною, нами був відкритий готель для тварин.</p>
		</div>
		<!-- /.ba-section-intro__col-1 -->
		<div class="column medium-7 large-4 ba-section-intro__col-2">
			<p>Оберіть Ваше місто та перегляньте список доступних послуг у Вашому регіоні:</p>
		</div>
		<!-- /.ba-section-intro__col-2 -->
	</div>
	<div class="ba-section-intro__socials">
		<ul class="menu ba-socials-row">
			<li>
				<a href="https://twitter.com/?lang=ru" target="_blank".>
					<svg width="24" height="20">
						<use xlink:href="#icon-twitter" />
					</svg>
				</a>
			</li>
			<li>
				<a href="https://linkedin.com/" target="_blank".>
					<svg width="20" height="20">
						<use xlink:href="#icon-linkedin" />
					</svg>
				</a>
			</li>
			<li>
				<a href="https://google.com" target="_blank".>
					<svg width="20" height="20">
						<use xlink:href="#icon-google" />
					</svg>
				</a>
			</li>
		</ul>
	</div>
	<!-- /.ba-section-intro__socials -->

</section>
<!-- /.ba-section-intro -->