<div class="ba-section--services ba-section">
	<div class="row">
		<div class="row ba-section-services__content">
			<div class="column small-12 large-5 show-for-medium">
				<img src="{{root}}assets/img/grey-cat.jpg" alt="Grey Cat">
			</div>


		<script type="text-template" data-services-tmpl>
				<li class="ba-services-list-item">
					<div class="ba-services-list-item__price">
						<h4 class="ba-service-price-title">Перетримка (котики)</h4>
						<span>{{overExposureCats}}</span> грн
					</div>
					<!-- /.ba-price -->
					<p class="ba-service-item-description">бокс з відділеннями для сну і гігієни</p>
				</li>
				<li class="ba-services-list-item">
					<div class="ba-services-list-item__price">
						<h4 class="ba-service-price-title">Перетримка (собаки)</h4>
						<span>{{overExposureDogs}}</span> грн
					</div>
					<!-- /.ba-price -->
					<p>бокс/вольєр в окремій кімнаті</p>
				</li>
				<li class="ba-services-list-item">
					<div class="ba-services-list-item__price">
						<h4 class="ba-service-price-title">Грумінг</h4>
						<span>{{GroomingW}}*</span> грн
					</div>
					<!-- /.ba-price -->
					<p>Миття</p>
				</li>
				<li class="ba-services-list-item">
					<div class="ba-services-list-item__price">
						<h4 class="ba-service-price-title">Грумінг</h4>
						<span>{{GroomingWC}}*</span> грн
					</div>
					<!-- /.ba-price -->
					<p>Миття та стрижка</p>
				</li>
				<li class="ba-services-list-item">
					<div class="ba-services-list-item__price">
						<h4 class="ba-service-price-title">Огляд ветеринара</h4>
						<span>{{Inspection}}</span>грн
					</div>
					<!-- /.ba-price -->
					<p>Загальний</p>
				</li>
			</script>


			<!-- text-template-script -->

			<div class="column small-12 large-7">
				<h2 class="ba-section-title ba-section-title--services">Перелік послуг</h2>
				<ul class="vertical menu ba-services-list">
					<li class="ba-services-list-item">
						<div class="ba-services-list-item__price">
							<h4 class="ba-service-price-title">Перетримка (котики)</h4>
							<span> грн</span>
						</div>
						<!-- /.ba-price -->
						<p class="ba-service-item-description">бокс з відділеннями для сну і гігієни</p>
					</li>
					<li class="ba-services-list-item">
						<div class="ba-services-list-item__price">
							<h4 class="ba-service-price-title">Перетримка (собаки)</h4>
							<span> грн</span>
						</div>
						<!-- /.ba-price -->
						<p>бокс/вольєр в окремій кімнаті</p>
					</li>
					<li class="ba-services-list-item">
						<div class="ba-services-list-item__price">
							<h4 class="ba-service-price-title">Грумінг</h4>
							<span>* грн</span>
						</div>
						<!-- /.ba-price -->
						<p>Миття</p>
					</li>
					<li class="ba-services-list-item">
						<div class="ba-services-list-item__price">
							<h4 class="ba-service-price-title">Грумінг</h4>
							<span>* грн</span>
						</div>
						<!-- /.ba-price -->
						<p>Миття та стрижка</p>
					</li>
					<li class="ba-services-list-item">
						<div class="ba-services-list-item__price">
							<h4 class="ba-service-price-title">Огляд ветеринара</h4>
							<span> грн</span>
						</div>
						<!-- /.ba-price -->
						<p>Загальний</p>
					</li>
				</ul>
				<p class="ba-prices-description">*ціна залежить від розміру вашого вихованця</p>
			</div>
		</div>
	</div>
	<div class="row small-12 ba-services-order-row">
		<a href="order-service.html" class="button button--service">перейти до замовлення</a>
	</div>

	<div class="row ba-link-to-gallery-container">
		<div class="column small-12 medium-8 ba-link-description">
			<p>Ви можете переглянути фото з умовами, в яких будуть на перетримці ваші вихованці за цією ссилкою</p>
		</div>
		<div class="column small-12 medium-3">
			<a href="gallery.html" class="ba-link-to-gallery">Наші фото</a>
		</div>
	</div>
</div>
<!-- /.ba-section-services -->